<div id="header">
  <div id="logo">
    <a href="#trang-chu"><img src="../assets/lXkCAFh.png" /></a>
  </div>
  <div id="navLeft">
    <ul>
      <li>
        <a href=""><i class="fa fa-search"></i></a>
      </li>
      <li><a href="#trang-chu">home</a></li>
      <!-- <li><a href="#product-manage">manage</a></li> -->
      <li><a href="#product">product</a></li>
      <li><a href="#gioi-thieu">about</a></li>
    </ul>
  </div>
  <div id="navRight">
    <ul>
      <li><a href="#dang-nhap" class="overlayLink">login</a></li>
      <li><a href="#product-da-mua">purchased product</a></li>
      <li>
        <a href="#gio-hang"
          >giỏ hàng/0 vnđ <i class="fa fa-shopping-cart"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
