<div class="cantainer">
  <div class="row">
    <div class="left-container col-2">
      <div class="menu-box1 block">
        <!-- MENU BOX (LEFT-CONTAINER) -->
        <h2 class="titular">Categoty</h2>
        <ul class="menu-box-menu">
          <li>
            <a class="menu-box-tab" ng-click="filter()"
              >Tất cả
              <div class="menu-box-number">></div></a
            >
          </li>
          <li ng-repeat="a in listCategory ">
            <a class="menu-box-tab" ng-click="filter(a.id)"
              >{{a.name}}
              <div class="menu-box-number">></div></a
            >
          </li>
        </ul>
        <!-- <select class="form-select" name="category" ng-model="selectCategory">
          <option
            ng-repeat="a in listCategory"
            ng-value="a.id"
            value="{{a.id}}"
          >
            {{a.name}}
          </option>
        </select> -->
      </div>
    </div>
    <div class="col-10">
      <h2 class="text-center">All Product</h2>
      <div class="row">
        <div
          class="col-sm-6 col-lg-3 mm"
          ng-repeat="sp in listProduct | filter:{categoryId:danhMuc}"
        >
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image" style="background-color: #f3f3f3">
                <img class="pic-1" src="../assets/{{sp.img}}" id="anhProduct" />
              </a>
              <a class="add-to-cart" href=""> + </a>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">{{sp.name}}</a></h3>

              <div class="price">${{sp.price}}</div>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star disable"></li>
              </ul>
            </div>

            <div class="action-buttons">
              <a class="btn-outline">ADD TO CART</a>
              <a class="btn-outline-icon"><i class="fa fa-heart"></i></a>
              <a
                href="#product/detail/{{sp.id}}"
                class="btn-outline-icon"
                title="detail"
                ><i class="fa fa-eye fa-lg"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
